/*background*/
body {
  height: 100vh;
  background: linear-gradient(
    to top left,
    #1d1d1d 10%,
    #4d167e,
    #1a509bd8,
    #15334d 70%,
    #1d1d1d 80%
  );
}
table {
  opacity: 0;
  animation: ani 2.5s forwards;
  animation-delay: 0.5s;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h1 {
  opacity: 0;
  margin-top: 10px;
  animation: ani 3s forwards;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
th {
  width: 150px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  table {
    width: 100%;
    display: flex;
    overflow-x: auto;
  }
  th,
  td {
    white-space: nowrap;
    border-radius: 50px;
  }
  th {
    background-color: #1d1d1d48;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
  }
  td {
    font-size: 14px;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
}
