@import "Skills.css";
@import "Gallery.css";
@import "Contacts.css";

/*background*/

body {
  background-size: cover;
  background: linear-gradient(
    to top left,
    #1d1d1d 10%,
    #4d167e,
    #1a509bd8,
    #15334d 70%,
    #1d1d1d 80%
  );
  animation: gradient 20s infinite;
  background-size: 800%;
}

@keyframes gradient {
  0% {
    background-position: 80% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0%;
  }
}

@media screen and (max-width: 1000px) {
  body {
    background: linear-gradient(to top left, #000000, #4487e7, #000000);
    animation: gradient 8s infinite;
    background-size: cover;
  }

  @keyframes gradient {
    0% {
      background-position: 80% 0%;
    }
    50% {
      background-position: 20% 100%;
    }
    100% {
      background-position: 80% 0%;
    }
  }
}

/*NAVIGATION*/
nav {
  overflow: hidden;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
nav ul {
  margin-top: 5px;
  text-align: right;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #1d1d1d11;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: lighter;
}
nav ul li a:hover {
  color: orange;
}

nav ul li a.active {
  color: orange;
}
.gl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*TEXT*/
h1 {
  color: #ffffff;
  margin-top: 10px;
  text-shadow: 4px 0px #00000024;
}
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 20px;
}
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ffffff;
  size: 10px;
  margin-top: 200px;
  margin-bottom: 20px;
  text-align: center;
}
th {
  color: #ffffff;
  margin-top: 10px;
  text-shadow: 4px 0px #00000024;
}
td {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 20px;
}
table {
  display: flexbox;
  padding: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
tr:hover {
  background-color: #b600b310;
  border-bottom: 2px solid white;
}
.oneT {
  width: 100%;
}

/*Change mainpage to more info*/
.action {
  display: none;
}
.action.active {
  display: block;
}
/* Push item */
.Push {
  transition-duration: 1s;
  transition-property: all;
}
.Push:hover {
  transform: scale(1.1);
}
/*photo*/
.imgline {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.bor {
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  /* Медиа-запрос для мобильной версии */
  .imgline {
    position: relative; /* Устанавливаем родителю относительное позиционирование */
    height: 300px; /* Устанавливаем высоту родителя на 100% */
  }

  .imgline img {
    position: absolute; /* Устанавливаем дочерним фотографиям абсолютное позиционирование */
    top: 0; /* Устанавливаем верхний край фотографии вверху родителя */
    left: 0; /* Устанавливаем левый край фотографии влево от родителя */
    width: 100%; /* Устанавливаем ширину фотографии на 100% родителя */
    height: 300px; /* Устанавливаем высоту фотографии на 100% родителя */
    opacity: 1; /* Устанавливаем начальную непрозрачность 0 (фотографии будут скрыты) */
  }
}

@media screen and (max-width: 1000px) {
  .imgline {
    flex-direction: column;
  }
  .imgline img {
    width: 100%;
  }
}

/* Lamp */
.position1 {
  content: "LampOFF.png";
  display: block;
  position: fixed;
  right: 20px;
  top: 100px;
  left: 760px;
  height: 900px;
  width: 780px;
  background: rgba(255, 255, 255, 0);
  border-radius: 0px;
}

/*Invisible.Change to next list*/

header {
  opacity: 0;
  animation: ani 2.5s forwards;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* footer */
footer {
  height: 100px;
  width: 100%;
}

iframe {
  border-radius: 20px;
}
